*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.my-table {
    width: 100%;
    height: 100vh;
    border-collapse: collapse;
    table-layout: fixed;
}

td {
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    word-break: break-word;
}